:root {
  --white: #fff;
  --primary: #61ecbc;
  --black: #182339;
}
html {
  font-size: 62.5%;
}

body {
  background-image: url("/bg-cripto.jpg");
  background-repeat: no-repeat;
  background-position: center;
  background-size: cover;
  min-height: 100vh;

  font-family: "Outfit", sans-serif;
  font-size: 2rem;
}
@media (height >= 50rem) {
  body {
    overflow: hidden;
  }
}

.container {
  max-width: 50rem;
  width: 95%;
  margin: 0 auto;
}

.app-title {
  font-size: 3.8rem;
  margin-top: 5rem;
  color: var(--white);
  line-height: 0.8;
}
.app-title span {
  display: block;
  color: var(--primary);
  font-size: 4.4rem;
}
.content {
  margin-top: 5rem;
  padding: 4rem 2rem;
  background-color: var(--white);
  border-radius: 1rem;
  box-shadow: rgba(0, 0, 0, 0.3) 0px 19px 38px,
    rgba(0, 0, 0, 0.22) 0px 15px 12px;
}
.form,
.field {
  display: flex;
  flex-direction: column;
  gap: 2rem;
}

.form label {
  color: var(--black);
}
.form select {
  background-color: #ecebeb;
  border: none;
  padding: 1rem;
  border-radius: 1rem;
  font-size: 1.8rem;
}
.form [type="submit"] {
  background-color: var(--primary);
  color: var(--black);
  border: none;
  padding: 1rem;
  font-weight: 900;

  cursor: pointer;
  text-transform: uppercase;
  margin-top: 2rem;
  transition: background-color 300ms ease;
}

.form [type="submit"]:hover {
  background-color: #0cb387;
}

.result-wrapper {
  margin-top: 5rem;
}
.result-wrapper h2 {
  text-align: center;
}
.result {
  display: grid;
  grid-template-columns: 1fr 3fr;
  align-items: center;
  gap: 1rem;
}
.result img {
  width: 100%;
}
.result p {
  margin: 0 0 1rem;
  font-size: 1.6rem;
}
.result span {
  font-weight: 700;
}

.ticker {
  font-size: 1.5rem;

  border-block: 1px solid var(--white);
  display: flex;
  overflow: hidden;
  user-select: none;
}
header {
  margin-top: 1rem;
}
.ticker ul {
  list-style: none;
  display: flex;
  flex-shrink: 0;
  justify-content: space-between;
  align-items: center;
  min-width: 100%;
  gap: 20px;
  animation: scroll 40s linear infinite;
}
.ticker svg {
  font-size: 0.3rem;
  width: 2rem;
}
.arrow-down {
  color: rgb(170, 47, 47);
}
.arrow-up {
  color: var(--primary);
}
.ticker:hover ul {
  animation-play-state: paused;
}
.ticker li {
  display: flex;
  gap: 0.8rem;
  align-items: center;
  color: var(--white);
  font-weight: 600;
}
.span-green {
  color: #0cb387;
}
.span-red {
  color: rgb(187, 36, 36);
}
@keyframes scroll {
  100% {
    transform: translate(calc(-100% - 20px));
  }
}
